*wbfs filter=lfs diff=lfs merge=lfs -text
*wbf1 filter=lfs diff=lfs merge=lfs -text
*wbf2 filter=lfs diff=lfs merge=lfs -text
*wbf3 filter=lfs diff=lfs merge=lfs -text
*wbf4 filter=lfs diff=lfs merge=lfs -text
*wbf5 filter=lfs diff=lfs merge=lfs -text
*wbf6 filter=lfs diff=lfs merge=lfs -text
*wbf7 filter=lfs diff=lfs merge=lfs -text
*wbf8 filter=lfs diff=lfs merge=lfs -text
*wbf9 filter=lfs diff=lfs merge=lfs -text
*wbf10 filter=lfs diff=lfs merge=lfs -text
